@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


.hero-img {
    width: 150px;
    height: 150px;
}

.logo-1 {
    top: -120px;
    left: -130px;
}

.logo-2 {
    top: -120px;
    right: -130px;
}

.logo-3 {
    bottom: -120px;
    left: -150px;
}

.logo-4 {
    bottom: -120px;
    right: -150px;
}

.logo-5 {
    top: 100;
    right: -180px;
}
.logo-6 {
    top: 100;
    left: -180px;
}

